<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Model Deployment</title>
</head>
<body>
  <h1>Model Deployment</h1>
  <p>
    transfer image
  </p>
  <form action="/" method = "POST" enctype = "multipart/form-data">
    <dl>
      <p>
        <input type="file" name = "file" class = "form-control" autocomplete="off" required>
      </p>
    </dl>
    <p>
      <input type="submit" value = "Submit" >
    </p>
  </form>
  <img src="{{link}}" alt="">
</body>
</html>